<!-- 들어올 때마다 랜덤하게 뜨는 방송 배너 -->
<div class="jumbotron">
  <img src="<%=@banner.img%>" width="100%">
  <h1><%=@banner.title%></h1>
  <p class="lead"><%=@banner.intro%></p>
  <span class="star-rating">
    <% 1.upto(5) do |i| %>
      <% if i == @banner.avg.round(0) %>
        <i class="on"></i>
      <% else %>
        <i></i>
      <% end %>
    <% end %>
  </span>
  <p id="count"><%=@banner.avg.round(1)%> 점 (<%=@banner.comments.count%> 명)</p>
  <p><a class="btn btn-lg btn-success" href="/home/detail/<%=@banner.id%>" role="button">자세히 보기</a></p>
</div>
<!-- 배너끝 -->


<div class="row marketing">
  <!-- 데이터베이스에서 불러와 반복하여 뿌려줄 방송 정보 -->
  <% @tvs.each do |tv| %>
    <div class="col-lg-6">
      <h4><%=tv.title%></h4>
      <img src="<%=tv.img%>" class="img-thumbnail" width="320">
      <p><%=tv.intro%></p>
      <span class="star-rating small">
        <% 1.upto(5) do |i| %>
          <% if i == tv.avg.round(0) %>
            <i class="on"></i>
          <% else %>
            <i></i>
          <% end %>
        <% end %>
      </span>
      <p id="count"><%=tv.avg.round(1)%> 점 (<%=tv.comments.count%> 명)</p>
      <p><a class="btn btn-sm btn-success" href="/home/detail/<%=tv.id%>" role="button">자세히 보기</a></p>
    </div>
  <% end %>
  <!-- 끝 -->

</div>
